*{
	padding: 0;
	margin: 0;
	font-family: 'Red Hat Display', sans-serif;
}
body{
	background-image: url(../images/pattern-background-mobile.svg);
	background-color: hsl(225, 100%, 94%);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100vw;
}

.container{
	margin: 70px 25px;
	background-color: white;
	border-radius: 20px;
	overflow: hidden;
	width: 330px;
	height: 570px;
	box-sizing: border-box;
	text-align: center;
	box-shadow: 0px 10px 30px -20px hsl(224, 23%, 55%); 
}

img{
	width: 100%;
	height: 160px;
}

.container h2{
	font-weight: 900;
	color: hsl(223, 47%, 23%);
	padding-top: 30px;
}

.container p.desc{
	font-weight: 500;
	color: hsl(224, 23%, 55%);
	padding-top: 20px;
}

.card-content{
	padding: 0 26px;
}

.card-content .plan{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	align-items: center;
	justify-content: space-around;
	margin-top: 44px;
	background-color: hsl(225, 100%, 98%);
	padding: 15px;
	border-radius: 10px;
}

.card-content .plan img{
	width: 48px;
	height: 48px;
	grid-column: 1/2;
	grid-row: 1/3;
}

.card-content .plan h4{
	grid-column: 2/3;
	grid-row: 1/2;
}

.card-content .plan p{
	grid-column: 2/3;
	grid-row: 2/3;
}

.card-content .plan a{
	grid-column: 3/4;
	grid-row: 1/3;
	font-weight: 700;
	transition: 0.2s ease all;
}
.card-content .plan a:hover{
	text-decoration-color: rgba(0,0,0,0);
	color: hsla(245, 75%, 52%, 70%);
}

.btn{
	display: flex;
	flex-direction: column;
	padding-top: 24px;
}

.btn .proceed-btn{
	width: 280px;
	height: 50px;
	background-color: hsl(245, 75%, 52%);
	border: none;
	border-radius: 10px;
	color: white;
	font-weight: 700;
	font-size: 14px;
	box-shadow: 0px 15px 30px 0px hsl(224, 23%, 80%); 
	transition: 0.2s ease all;
}
.btn .proceed-btn:hover{
	background-color: hsla(245, 75%, 52%, 70%);
	cursor: pointer;
}

.btn .cancel-btn{
	padding-top: 26px;
}
.btn a{
	color: hsl(224, 23%, 55%);
	font-weight: 700;
	font-size: 14px;
	text-decoration: none;
	transition: 0.2s ease all;
}
.btn a:hover{
	color: hsl(224, 23%, 25%);
}

@media screen and (min-width: 768px){
	body{
		background-image: url(../images/pattern-background-desktop.svg);
		background-color: hsl(225, 100%, 94%);
	}

	.container{
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 450px;
		height: 700px;
	}

	img{
		height: 220px;
	}

	.card-content{
		padding: 0 50px;
	}

	.container h2{
		padding-top: 50px;
	}

	.container p.desc{
		padding-top: 25px;
	}

	.card-content .plan{
		margin-top: 50px;
		padding: 25px;
	}

	.btn{
		padding-top: 30px;
	}
	.btn .proceed-btn{
		width: 355px;
	}
	.btn .cancel-btn{
		padding-top: 35px;
	}
}